.clearfix{clear:both;display: block;}
@font-face {
    font-family: paragon;
    src: url(/fonts/ParagonBlack.ttf);
    font-weight: bold;
}
@font-face {
    font-family: paragon_bold;
    src: url(/fonts/ParagonMedium.ttf);
}
body {
        padding-top: 70px;
        background: #dd5555;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

.login-input{
	float:left;
	display: block;
	margin:5px;
}
.login-submit{
	float:left;
	display: block;
	margin:5px;
}
.navbar-header{
	padding-top:4px;
}
.navbar-logo{
	color:#fff;
	font-weight: bold;
	font-size:2.5em;
	font-family: paragon_bold;
}
.body-container {
		border:none;
		border-radius: 4px;
		padding:10px 10px 10px 10px;
		background: #ffffff;
		min-height: 300px;
		font-family: paragon_bold;
	}

.timer-top-area {
		padding:13px;
	}
.timer-content-area {
		color:#fff;
		text-align: center;
		font-weight: bolder;
		min-height: 200px;
		background: #333333;
		font-size:7em;
		padding-top:0.3em;
	}
.timer-bottom-area {
		padding: 11px;
		background: #777;
	}