<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pomodoro Timer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">

    <!-- ANGULAR JS -->
    <script src="angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-cookies.js"></script> 
    <script src="js/moment.js"></script>
    <script src="js/humanize-duration.js"></script>
    <!-- TIMER -->
    <script src="js/angular-timer.min.js"></script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-logo" href="/">POMEGRANATE</a>
            </div>
                
                <div data-ng-controller="apiController" data-ng-init="checkLogin()">
                
                    <ul class="nav navbar-nav pull-right">
                        <li ng-show="!authStatus" class="ng-hide">
                             <form role="form" ng-submit="login">
                                <div class="login-input">
                                    <input class="form-control" ng-model="loginData.username" placeholder="Enter User Name">
                                </div>

                                <div class="login-input">
                                    <input class="form-control" type="password" ng-model="loginData.password" placeholder="Enter Password">
                                </div>

                                <div class="login-submit">
                                    <button type="submit" ng-click="login(loginData)" class="btn btn-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</button>
                                </div>
                            </form>
                        </li>

                        <li ng-show="authStatus" class="ng-hide">
                            <div class="login-submit">
                                <button type="button" ng-click="logout()" class="btn btn-default"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> LOGOUT</button>
                            </div>
                        </li>
                    </ul>
                
                </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container body-container col-md-6 col-lg-8 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-2">
        <div class="col-lg-3 visible-lg">
            <div class="brand-img text-center">
                <img src="../pomogranate_vector.jpg" alt="pomogranate logo"/>
            </div>
            <div class="brand-text text-center">
                <h1>USE POMEGRANATE</h1>
                <p>AND</p>
                <h3>SAVE YOUR TIME</h3>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-md-12 col-md-offset-0" data-ng-controller="timerController" data-ng-init="init()">
            <div class="timer-top-area col-sm-12 col-md-12 text-center">
                <button type="button" class="btn btn-warning" ng-click="setTimer('ST')" ng-disabled="timerRunning"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> WORK TIME!</button>
                <button type="button" class="btn btn-warning" ng-click="setTimer('SB')" ng-disabled="timerRunning"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> SHORT BREAK</button>
                <button type="button" class="btn btn-warning" ng-click="setTimer('LB')" ng-disabled="timerRunning"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> LONG BREAK</button>
            </div>

            <div class="timer-content-area col-sm-12 col-md-12">
                <div ng-switch on="timer_type">
                    <div ng-switch-when="ST">
                        <timer countdown="1500" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
                    </div>
                    <div ng-switch-when="SB">
                        <timer countdown="300" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
                    </div>
                    <div ng-switch-when="LB">
                        <timer countdown="1800" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
                    </div>
                </div>
            </div>
            <div class="timer-bottom-area col-sm-12 col-md-12">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="startTimer()" ng-hide="timerRunning">Start Timer</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="resetTimer()" ng-hide="!timerRunning">Reset Timer</button>
            </div> 

            Timer set TEST 
            <button type="button" class="btn btn-info" ng-click="remainingTimer(5)">TImer GET </button> 
            <!-- TODO : ngRepeat -->
            <timer countdown="get_timer()" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
        </div>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap.js"></script>
    <script src="app.js"></script>


</body>
</html>
