<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POMEGRANATE</title>

    <!-- Bootstrap Core CSS -->
    <link href="./public/css/bootstrap.min.css" rel="stylesheet">
    <link href="./public/css/mystyle.css" rel="stylesheet">

    <!-- ANGULAR JS -->
    <script src="./public/js/angular.min.js"></script>
    <script src="./public/js/angular-route.js"></script>
    <script src="./public/js/angular-cookies.js"></script> 
    <script src="./public/js/moment.js"></script>
    <script src="./public/js/humanize-duration.js"></script>
    <!-- TIMER -->
    <script src="./public/js/angular-timer.min.js"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <div data-ng-controller="apiController" data-ng-init="checkLogin()">
            <ul class="nav navbar-nav">
                <li ng-show="!authStatus" class="ng-hide"></li>
                <li ng-show="authStatus" class="ng-hide">
                    <div data-ng-init="user_panel()" class="login-submit">
                        <button type="button" ng-click="logout()" class="btn btn-default"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Hello {{ userName }}, click here to logout </button>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container body-container col-md-6 col-lg-8 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-2">
        <div class="col-lg-3 visible-lg">
            <div class="brand-img text-center">
                <img src="./public/pomogranate_vector.jpg" alt="pomogranate logo"/>
            </div>
            <div class="brand-text text-center">
                <h1>USE POMEGRANATE</h1>
                <p>AND</p>
                <h3>SAVE YOUR TIME</h3>
            </div>
        </div>
        <div data-ng-controller="apiController" data-ng-init="checkLogin()">
            <div ng-show="authStatus" class="ng-hide">
                <div class="col-sm-12 col-lg-6 col-md-12 col-md-offset-0" data-ng-controller="timerController" data-ng-init="init()">
                    <div class="timer-top-area col-sm-12 col-md-12 text-center">
                        <button type="button" class="btn btn-warning" ng-click="setTimer('ST')" ng-disabled="timerRunning"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> WORK TIME!</button>
                        <button type="button" class="btn btn-warning" ng-click="setTimer('SB')" ng-disabled="timerRunning"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> SHORT BREAK</button>
                        <button type="button" class="btn btn-warning" ng-click="setTimer('LB')" ng-disabled="timerRunning"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> LONG BREAK</button>
                    </div>

                    <div class="timer-content-area col-sm-12 col-md-12 pull-left">
                        <div ng-switch on="timer_type">
                            <div ng-switch-when="ST">
                                <timer countdown="1500" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
                            </div>
                            <div ng-switch-when="SB">
                                <timer countdown="300" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
                            </div>
                            <div ng-switch-when="LB">
                                <timer countdown="1800" interval="1000" autostart="false">{{minutes}}:{{seconds}}</timer>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="timer-bottom-area">
                        <button type="button" class="btn btn-primary" ng-click="startTimer()" ng-hide="timerRunning">Start Timer</button>
                        <button type="button" class="btn btn-primary" ng-click="resetTimer()" ng-hide="!timerRunning">Reset Timer</button>
                    </div> 
                </div>
            </div>
            <div ng-show="!authStatus" class="ng-hide">
                <button type="button" class="btn btn-warning" ng-click="set_form_switch('login')" ><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> SIGN IN</button>
                <button type="button" class="btn btn-primary" ng-click="set_form_switch('register')"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> JOIN US</button>
                <div ng-switch on="start_page" data-ng-init="init()">
                    <div ng-switch-when="login" class="col-lg-6 col-md-6">
                        <h2>User Login Form</h2>
                        <form role="form" ng-submit="login" class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="email">User Name:</label>
                                <input class="form-control" ng-model="loginData.username" placeholder="Enter User Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Password:</label>
                                <input class="form-control" type="password" ng-model="loginData.password" placeholder="Enter Password">
                            </div>
                            <button type="submit" ng-click="login(loginData)" class="btn btn-success"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> LOGIN</button>
                        </form>
                    </div>
                    <div ng-switch-when="register" class="col-lg-6 col-md-6">
                        <h2>User Registeration Form</h2>
                        <form role="form" ng-submit="register" class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="email">First Name:</label>
                            <input class="form-control" ng-model="CreateUserData.first_name" placeholder="Enter First Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Last Name:</label>
                            <input class="form-control" ng-model="CreateUserData.last_name" placeholder="Enter Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">User Name:</label>
                            <input class="form-control" ng-model="CreateUserData.username" placeholder="Enter User Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" ng-model="CreateUserData.email" placeholder="Enter Email">
                        </div>

                        <div class="form-group">
                            <label for="email">Password:</label>
                            <input class="form-control" type="password" ng-model="CreateUserData.password" placeholder="Enter Password">
                        </div>

                        <div class="form-group">
                            <button type="submit" ng-click="register(CreateUserData)" class="btn btn-default">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Register
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-controller="apiController" data-ng-init="statics()" class="col-lg-3 visible-lg">
            <h1>Daily Records<small> today {{staticsData.length}} </small></h1>
            <div class="table-responsive">
              <table class="table">
                <tr ng-repeat="st in staticsData">
                    <td class="active">{{st.on_date}}</td>
                    <td class="active">{{st.types}}</td>
                    <td class="active">{{st.status}}</td>
                </tr>
              </table>
            </div>
        </div>
        <div class="col-lg-12 col-md-12"></br><hr>&copy Copyright 2015 KTU COMPUTER ENGINEERING DESIGN PROJECT / 259260 PEKER MERT OKSUZ</div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.8.3 -->
    <script src="./public/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/ui-bootstrap.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script src="./public/js/socket.io-1.2.0.js"></script>
<script src="./public/io-script.js"></script>

<script src="./public/app.js"></script>
</body>
</html>
