.clearfix{clear:both;display: block;}
@font-face {
    font-family: paragon;
    src: url(/public/fonts/ParagonBlack.ttf);
    font-weight: bold;
}
@font-face {
    font-family: paragon_bold;
    src: url(/public/fonts/ParagonMedium.ttf);
}
body {
        padding-top: 70px;
        background: #dd5555;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

.pull-left {
	float:left;
	display: block;
}
.login-input{
	float:left;
	display: block;
	margin:5px;
}
.login-submit{
	float:left;
	display: block;
	margin:5px;
}
.navbar-header{
	padding-top:4px;
}
.navbar-logo{
	color:#fff;
	font-weight: bold;
	font-size:2.5em;
	font-family: paragon_bold;
}
.body-container {
		border:none;
		border-radius: 4px;
		padding:10px 10px 10px 10px;
		background: #ffffff;
		min-height: 300px;
		font-family: paragon_bold;
}

.timer-top-area {
		padding:13px;
}
.timer-content-area {
		color:#fff;
		text-align: center;
		font-weight: bolder;
		min-height: 200px;
		background: #333333;
		font-size:5em;
		padding-top:0.3em;
}
.timer-bottom-area {
		padding: 11px;
		background: #777;
}

/* DASHBOARD */
.dash-item {
	width: 250px;
	height: 126px;
	background-color: #fcfcfc;
	border:4px solid #ccc;
	padding:5px;
	float:left;
	margin:4px;
}
.study-mode {
	background-color: #a10 !important;
}
.relax-mode {
	background-color: green !important;
}
.dash-item span.name { 
	font-size: 25px;
	color:#222;
	float:left;
	width: 100%;
}
.dash-item span.status {
	font-size: 28px;
	text-align: center;
	padding-top:4px;
	color:#a00;
	float:left;
	width: 100%;
}